header{
    background-image: url(../img/wall.png);
}
body{
    background-image: url(../img/cork.png);
}
.vt-title{
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
}
.vt-text{
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
}
.vt-text-date{
    color: #736f6d;
    margin-bottom: 0;
}
.vt-text-description{
    text-transform: uppercase;
    font-size: 23px;
}
.card{
    box-shadow: 2px 3px #a6744d;;
}
.card:hover{
    cursor: pointer;
}